<div class="movie-filter">
     {{input valueBinding="query" placeholder="Filter"}}
</div>
<ul class="movies">
    {{#each movie in filteredContent }}
        <li>{{#link-to "movie" movie}} {{poster-image poster=movie.id height="300" width="200"}} <h4>{{movie.title}}</h4> {{/link-to}}</li>
    {{else}}
        <li>No movies ... :(</li>
    {{/each}}
</ul>
