body {
  color: #444444; }

.menu {
  background: #f96e5b;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #aa412f;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  overflow: hidden;
  z-index: 1000; }

.menu ul {
  display: block;
  line-height: 1;
  list-style: none;
  margin: auto;
  max-width: 600px;
  padding: 0; }

.menu li {
  display: block;
  float: left;
  padding: 0;
  margin: 7px 3px 7px 3px; }

.menu a {
  border: 1px solid transparent;
  color: #ffffff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 12px;
  position: relative;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s; }

.menu a:hover {
  color: #333333; }

.menu a.active {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #923c2e;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
  color: #333333;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.17) 0 1px 1px; }

@media screen and (max-width: 400px) {
  .menu {
    position: relative;
    margin: 0; }

  .menu li {
    float: none; }

  .menu a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; } }
.movies li {
  display: block;
  list-style: none;
  margin: 20px;
  float: left;
  height: 300px;
  width: 200px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  position: relative;
  overflow: hidden; }

div.image {
  overflow: hidden;
  position: relative; }

.image .loader {
  background-color: #ffffff;
  background-image: url(../img/loader.png);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100; }

.movies li h4 {
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5;
  margin: 0px;
  text-align: center;
  text-shadow: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 50; }

.movie-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -1px 0px rgba(230, 230, 230, 0.7);
  padding: 10px; }

head, body {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px; }

main {
  margin-top: 43px; }

@media screen and (max-width: 400px) {
  main {
    margin-top: 0; } }
