$normal-color: #444444;
$muted-color: #999999;
$info-color: #2d7091;
$success-color: #659f13;
$warning-color: #e28327;
$danger-color: #d85030;
$colorBody: #f9f9f9;


$fieldsBottom: 1.65em;
$inputFontFamily: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
$columnarWidth: 150px;
$columnarMargin: 20px;
$colorGrayLight: #999;
$smallFontSize: 0.85em;
