// Z-index lists
@import 'z-index';

// Font weigths
$light: 100;
$regular: 400;
$bold: 600;

// Colors
$color-body: #f9f9f9;
$danger-color: #d85030;
$info-color: #2d7091;
$muted-color: #999;
$normal-color: #444;
$success-color: #659f13;
$warning-color: #e28327;

@import '../modules/all';
