body {
  color: $normal-color;
}

.menu {
  background: #f96e5b;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #aa412f;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  overflow: hidden;
  z-index: 1000;
}

.menu ul {
  display: block;
  line-height: 1;
  list-style: none;
  margin: auto;
  max-width: 600px;
  padding: 0;
}

.menu li {
  display: block;
  float: left;
  padding: 0;
  margin: 7px 3px 7px 3px;
}

.menu a {
  border: 1px solid transparent;
  color: #ffffff;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.menu a:hover {
  color: #333333;
}

.menu a.active {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #923c2e;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.17) 0 1px 1px;
  color: #333333;
  text-shadow: rgba(255,255,255,0.2) 0 1px 0;
  -webkit-box-shadow: rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.17) 0 1px 1px;
  -moz-box-shadow: rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.17) 0 1px 1px;
}

@media screen and (max-width: 400px) {
  .menu {
    position: relative;
    margin: 0;
  }
  .menu li {
    float: none;
  }
  .menu  a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }
}
