
@import "variables.scss";
@import "menu.scss";
@import "movies.scss";

head, body {
  background-color: $colorBody;
  margin: 0px;
  padding: 0px;
}

main {
  margin-top: 43px;
}

@media screen and (max-width: 400px) {
  main {
    margin-top: 0;
  }
}
